.{
    margin: 0;
    padding: 0;
}
h1{
 text-align: center
}
.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px; 
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    transition: 0.3s;
    font-size: 0px;
}
.card:hover{
    
    box-shadow: 4px 5px 6px salmon;
}
.calculator-head #result{
    height: 100px;
    width: 335px;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    padding: 0 10px;
    letter-spacing: 2px;
}
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    color:white;
}
.btn-style{
    background-color: blueviolet;
}
.btn:hover{
    background-color: rgb(143, 3, 26);
}